In [1]:
import numpy as np
import pandas as pd

In [2]:
regions = pd.read_csv('data/regions.csv')
departements = pd.read_csv('data/departments.csv')

In [142]:
departements

,id,region_code,code,name,slug
0,1,84,01,Ain,ain
1,2,32,02,Aisne,aisne
2,3,84,03,Allier,allier
3,4,93,04,Alpes-de-Haute-Provence,alpes de haute provence
4,5,93,05,Hautes-Alpes,hautes alpes
...,...,...,...,...,...
104,105,COM,984,Terres australes et antarctiques françaises,terres australes et antarctiques francaises
105,106,COM,986,Wallis et Futuna,wallis et futuna
106,107,COM,987,Polynésie française,polynesie francaise
107,108,COM,988,Nouvelle-Calédonie,nouvelle caledonie
108,109,COM,989,Île de Clipperton,ile de clipperton

In [143]:
departements['region_code'].unique()

array(['84', '32', '93', '44', '76', '28', '75', '24', '27', '53', '94',
       '52', '11', '01', '02', '03', '04', '06', 'COM'], dtype=object)

In [144]:
regions

    id code                        name                       slug
0    1   01                  Guadeloupe                 guadeloupe
1    2   02                  Martinique                 martinique
2    3   03                      Guyane                     guyane
3    4   04                  La Réunion                 la reunion
4    5   06                     Mayotte                    mayotte
5    6   11               Île-de-France              ile de france
6    7   24         Centre-Val de Loire        centre val de loire
7    8   27     Bourgogne-Franche-Comté    bourgogne franche comte
8    9   28                   Normandie                  normandie
9   10   32             Hauts-de-France            hauts de france
10  11   44                   Grand Est                  grand est
11  12   52            Pays de la Loire           pays de la loire
12  13   53                    Bretagne                   bretagne
13  14   75          Nouvelle-Aquitaine         nouvelle aquitaine
14  15   76                   Occitanie                  occitanie
15  16   84        Auvergne-Rhône-Alpes       auvergne rhone alpes
16  17   93  Provence-Alpes-Côte d'Azur  provence alpes cote dazur
17  18   94                       Corse                      corse
18  19  COM   Collectivités d'Outre-Mer   collectivites doutre mer

In [145]:
regions['code'].unique()

array(['01', '02', '03', '04', '06', '11', '24', '27', '28', '32', '44',
       '52', '53', '75', '76', '84', '93', '94', 'COM'], dtype=object)

In [146]:
new_regions = regions.rename(columns={'code': 'code_reg', 'name': 'name_reg'})
new_departments = departements.rename(columns={'code': 'code_dep', 'name': 'name_dep'})

In [147]:
new_departments

,id,region_code,code_dep,name_dep,slug
0,1,84,01,Ain,ain
1,2,32,02,Aisne,aisne
2,3,84,03,Allier,allier
3,4,93,04,Alpes-de-Haute-Provence,alpes de haute provence
4,5,93,05,Hautes-Alpes,hautes alpes
...,...,...,...,...,...
104,105,COM,984,Terres australes et antarctiques françaises,terres australes et antarctiques francaises
105,106,COM,986,Wallis et Futuna,wallis et futuna
106,107,COM,987,Polynésie française,polynesie francaise
107,108,COM,988,Nouvelle-Calédonie,nouvelle caledonie
108,109,COM,989,Île de Clipperton,ile de clipperton

In [148]:
new_regions

    id code_reg                    name_reg                       slug
0    1       01                  Guadeloupe                 guadeloupe
1    2       02                  Martinique                 martinique
2    3       03                      Guyane                     guyane
3    4       04                  La Réunion                 la reunion
4    5       06                     Mayotte                    mayotte
5    6       11               Île-de-France              ile de france
6    7       24         Centre-Val de Loire        centre val de loire
7    8       27     Bourgogne-Franche-Comté    bourgogne franche comte
8    9       28                   Normandie                  normandie
9   10       32             Hauts-de-France            hauts de france
10  11       44                   Grand Est                  grand est
11  12       52            Pays de la Loire           pays de la loire
12  13       53                    Bretagne                   bretagne
13  14       75          Nouvelle-Aquitaine         nouvelle aquitaine
14  15       76                   Occitanie                  occitanie
15  16       84        Auvergne-Rhône-Alpes       auvergne rhone alpes
16  17       93  Provence-Alpes-Côte d'Azur  provence alpes cote dazur
17  18       94                       Corse                      corse
18  19      COM   Collectivités d'Outre-Mer   collectivites doutre mer

In [149]:
new_regions = new_regions[['code_reg', 'name_reg']]
new_departments = new_departments[['code_dep', 'name_dep']]
dep_reg = pd.concat([new_regions, new_departments], axis=1)
dep_reg

    code_reg    name_reg code_dep                                     name_dep
0         01  Guadeloupe       01                                          Ain
1         02  Martinique       02                                        Aisne
2         03      Guyane       03                                       Allier
3         04  La Réunion       04                      Alpes-de-Haute-Provence
4         06     Mayotte       05                                 Hautes-Alpes
..       ...         ...      ...                                          ...
104      NaN         NaN      984  Terres australes et antarctiques françaises
105      NaN         NaN      986                             Wallis et Futuna
106      NaN         NaN      987                          Polynésie française
107      NaN         NaN      988                           Nouvelle-Calédonie
108      NaN         NaN      989                            Île de Clipperton

[109 rows x 4 columns]

In [131]:
dep_reg['code_dep'].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '2A', '2B', '30', '31', '32',
       '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43',
       '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54',
       '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65',
       '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
       '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87',
       '88', '89', '90', '91', '92', '93', '94', '95', '971', '972',
       '973', '974', '976', '975', '977', '978', '984', '986', '987',
       '988', '989'], dtype=object)

In [5]:
referendum = pd.read_csv('data/referendum.csv', sep=';')
referendum

,Department code,Department name,Town code,Town name,Registered,Abstentions,Null,Choice A,Choice B
0,1,AIN,1,L'Abergement-Clémenciat,592,84,9,154,345
1,1,AIN,2,L'Abergement-de-Varey,215,36,5,66,108
2,1,AIN,4,Ambérieu-en-Bugey,8205,1698,126,2717,3664
3,1,AIN,5,Ambérieux-en-Dombes,1152,170,18,280,684
4,1,AIN,6,Ambléon,105,17,1,35,52
...,...,...,...,...,...,...,...,...,...
36786,ZZ,FRANCAIS DE L'ETRANGER,7,Europe centrale,89643,54981,318,17055,17289
36787,ZZ,FRANCAIS DE L'ETRANGER,8,"Europe du Sud, Turquie, Israël",109763,84466,292,9299,15706
36788,ZZ,FRANCAIS DE L'ETRANGER,9,Afrique Nord-Ouest,98997,59887,321,22116,16673
36789,ZZ,FRANCAIS DE L'ETRANGER,10,"Afrique Centre, Sud et Est",89859,46782,566,17008,25503
36790,ZZ,FRANCAIS DE L'ETRANGER,11,"Europe de l'est, Asie, Océanie",80061,42911,488,13975,22687

In [110]:
referendum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36791 entries, 0 to 36790
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Department code  36791 non-null  object
 1   Department name  36791 non-null  object
 2   Town code        36791 non-null  int64
 3   Town name        36791 non-null  object
 4   Registered       36791 non-null  int64
 5   Abstentions      36791 non-null  int64
 6   Null             36791 non-null  int64
 7   Choice A         36791 non-null  int64
 8   Choice B         36791 non-null  int64
dtypes: int64(6), object(3)
memory usage: 2.5+ MB

In [88]:
referendum.shape

(36791, 9)

In [102]:
referendum['Department name'].value_counts(sort=True)

Department name
PAS DE CALAIS                    895
AISNE                            816
SOMME                            782
SEINE MARITIME                   744
MOSELLE                          730
                                ...
FRANCAIS DE L'ETRANGER            11
SAINT PIERRE ET MIQUELON           2
SAINT-MARTIN/SAINT-BARTHELEMY      2
PARIS                              1
WALLIS-ET-FUTUNA                   1
Name: count, Length: 107, dtype: int64

In [57]:
referendum.dropna().shape

(36791, 9)

In [123]:
reg_dep = dep_reg[~dep_reg['name_reg'].isin(['Martinique', 'Guadeloupe', 'Guyane',
                                                                                 'La Réunion', 'Mayotte', "Collectivités d'Outre-Mer",
                                                                                 "FRANCAIS DE L'ETRANGER", "SAINT PIERRE ET MIQUELON",
                                                                                 "WALLIS-ET-FUTUNA", "SAINT-MARTIN/SAINT-BARTHELEMY",
                                                                                 "NOUVELLE CALEDONIE", "POLYNESIE FRANCAISE"])]
referendum = referendum.rename(columns={'Department code': 'code_dep'})
referendum['code_dep'] = referendum['code_dep'].apply(
    lambda x: f"{int(x):02d}" if str(x).isdigit() and 1 <= int(x) <= 9 else x)

In [126]:
referendum

,Department code,Department name,Town code,Town name,Registered,Abstentions,Null,Choice A,Choice B
0,1,AIN,1,L'Abergement-Clémenciat,592,84,9,154,345
1,1,AIN,2,L'Abergement-de-Varey,215,36,5,66,108
2,1,AIN,4,Ambérieu-en-Bugey,8205,1698,126,2717,3664
3,1,AIN,5,Ambérieux-en-Dombes,1152,170,18,280,684
4,1,AIN,6,Ambléon,105,17,1,35,52
...,...,...,...,...,...,...,...,...,...
36786,ZZ,FRANCAIS DE L'ETRANGER,7,Europe centrale,89643,54981,318,17055,17289
36787,ZZ,FRANCAIS DE L'ETRANGER,8,"Europe du Sud, Turquie, Israël",109763,84466,292,9299,15706
36788,ZZ,FRANCAIS DE L'ETRANGER,9,Afrique Nord-Ouest,98997,59887,321,22116,16673
36789,ZZ,FRANCAIS DE L'ETRANGER,10,"Afrique Centre, Sud et Est",89859,46782,566,17008,25503
36790,ZZ,FRANCAIS DE L'ETRANGER,11,"Europe de l'est, Asie, Océanie",80061,42911,488,13975,22687

In [ ]:
merge_df = pd.merge(referendum, reg_dep, on='code_dep', how='left')
merge_df['name_reg'].value_counts()

In [118]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36791 entries, 0 to 36790
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   code_dep         36791 non-null  object
 1   Department name  36791 non-null  object
 2   Town code        36791 non-null  int64
 3   Town name        36791 non-null  object
 4   Registered       36791 non-null  int64
 5   Abstentions      36791 non-null  int64
 6   Null             36791 non-null  int64
 7   Choice A         36791 non-null  int64
 8   Choice B         36791 non-null  int64
 9   code_reg         4723 non-null   object
 10  name_reg         4723 non-null   object
 11  name_dep         34347 non-null  object
dtypes: int64(6), object(6)
memory usage: 3.4+ MB

In [120]:
merge_df['code_reg'].value_counts()

code_reg
75    706
93    472
27    463
44    438
32    433
84    404
24    339
28    332
52    304
94    290
76    260
11    163
53    119
Name: count, dtype: int64

In [80]:
dep_reg['name_reg'].value_counts()

name_reg
Guadeloupe                    1
Grand Est                     1
Corse                         1
Provence-Alpes-Côte d'Azur    1
Auvergne-Rhône-Alpes          1
Occitanie                     1
Nouvelle-Aquitaine            1
Bretagne                      1
Pays de la Loire              1
Hauts-de-France               1
Martinique                    1
Normandie                     1
Bourgogne-Franche-Comté       1
Centre-Val de Loire           1
Île-de-France                 1
Mayotte                       1
La Réunion                    1
Guyane                        1
Collectivités d'Outre-Mer     1
Name: count, dtype: int64

In [86]:
merge_df.dropna().shape

(3426, 12)

In [87]:
merge_df.columns

Index(['code_dep', 'Department name', 'Town code', 'Town name', 'Registered',
       'Abstentions', 'Null', 'Choice A', 'Choice B', 'code_reg', 'name_reg',
       'name_dep'],
      dtype='object')

In [4]:
reg = regions[['code', 'name']]
reg = reg.rename(columns={"code": "code_reg", "name": "name_reg"})
dep = departements[['code', 'name', 'region_code']]
dep = dep.rename(columns={"code": "code_dep", "name": "name_dep", "region_code": "code_reg"})
result = reg.merge(dep, how="inner", on="code_reg")
result = pd.DataFrame(result)
result

,code_reg,name_reg,code_dep,name_dep
0,01,Guadeloupe,971,Guadeloupe
1,02,Martinique,972,Martinique
2,03,Guyane,973,Guyane
3,04,La Réunion,974,La Réunion
4,06,Mayotte,976,Mayotte
...,...,...,...,...
104,COM,Collectivités d'Outre-Mer,984,Terres australes et antarctiques françaises
105,COM,Collectivités d'Outre-Mer,986,Wallis et Futuna
106,COM,Collectivités d'Outre-Mer,987,Polynésie française
107,COM,Collectivités d'Outre-Mer,988,Nouvelle-Calédonie
108,COM,Collectivités d'Outre-Mer,989,Île de Clipperton

In [6]:
ref = referendum.rename(columns={"Department code": "code_dep"})
ref['code_dep'] = ref['code_dep'].apply(lambda x: f"{int(x):02d}" if str(x).isdigit() and 1 <= int(x) <= 9 else x)

df = pd.DataFrame(result.merge(ref, how='inner', on='code_dep'))

dep_list = ['Guadeloupe', 'Martinique', 'Guyane', 'La Réunion',
            'Mayotte', 'Saint-Pierre-et-Miquelon', 'Saint-Barthélemy',
            'Saint-Martin', 'Terres australes et antarctiques françaises',
            'Wallis et Futuna', 'Polynésie française', 'Nouvelle-Calédonie',
            'Île de Clipperton']

df = df.drop(df[df["name_dep"].isin(dep_list)].index)
df['Department code'] = df['code_dep']
df

,code_reg,name_reg,code_dep,name_dep,Department name,Town code,Town name,Registered,Abstentions,Null,Choice A,Choice B,Department code
0,11,Île-de-France,75,Paris,PARIS,56,Paris,1253322,248755,12093,506594,485880,75
1,11,Île-de-France,77,Seine-et-Marne,SEINE ET MARNE,1,Achères-la-Forêt,906,148,15,224,519,77
2,11,Île-de-France,77,Seine-et-Marne,SEINE ET MARNE,2,Amillis,553,94,8,121,330,77
3,11,Île-de-France,77,Seine-et-Marne,SEINE ET MARNE,3,Amponville,277,36,1,75,165,77
4,11,Île-de-France,77,Seine-et-Marne,SEINE ET MARNE,4,Andrezel,266,44,3,76,143,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36560,94,Corse,2B,Haute-Corse,HAUTE CORSE,356,Zalana,200,52,6,56,86,2B
36561,94,Corse,2B,Haute-Corse,HAUTE CORSE,361,Zilia,221,45,0,57,119,2B
36562,94,Corse,2B,Haute-Corse,HAUTE CORSE,364,Zuani,75,15,1,18,41,2B
36563,94,Corse,2B,Haute-Corse,HAUTE CORSE,365,San-Gavino-di-Fiumorbo,296,86,4,138,68,2B
36564,94,Corse,2B,Haute-Corse,HAUTE CORSE,366,Chisa,185,34,8,100,43,2B

In [16]:
dfg = df.groupby('code_reg')[['Registered', 'Abstentions', 'Null', 'Choice A', 'Choice B']].sum()
dfg

          Registered  Abstentions   Null  Choice A  Choice B
code_reg
11           6942361      1515884  85997   2536620   2803860
24           1801366       326560  28827    590890    855089
27           1997925       358321  33671    668246    937687
28           2372779       426075  35513    816972   1094219
32           4210444       866555  60601   1411257   1872031
44           3857089       783348  56951   1088684   1928106
52           2605438       412509  47677    922468   1222784
53           2380594       364724  36077    944052   1035741
75           4201774       711017  71629   1641249   1777879
76           4008516       660914  62732   1528980   1755890
84           5227873       909284  81817   1791857   2444915
93           3436084       666729  44706    998439   1726210
94            220349        56696   2921     60917     99815

In [23]:
dfg = df.groupby(['code_reg', 'name_reg'], as_index=False)[['Registered', 'Abstentions', 'Null', 'Choice A', 'Choice B']].sum()
dfg.set_index('code_reg')

,name_reg,Registered,Abstentions,Null,Choice A,Choice B
code_reg,,,,,,
11,Île-de-France,6942361,1515884,85997,2536620,2803860
24,Centre-Val de Loire,1801366,326560,28827,590890,855089
27,Bourgogne-Franche-Comté,1997925,358321,33671,668246,937687
28,Normandie,2372779,426075,35513,816972,1094219
32,Hauts-de-France,4210444,866555,60601,1411257,1872031
44,Grand Est,3857089,783348,56951,1088684,1928106
52,Pays de la Loire,2605438,412509,47677,922468,1222784
53,Bretagne,2380594,364724,36077,944052,1035741
75,Nouvelle-Aquitaine,4201774,711017,71629,1641249,1777879
76,Occitanie,4008516,660914,62732,1528980,1755890
84,Auvergne-Rhône-Alpes,5227873,909284,81817,1791857,2444915
93,Provence-Alpes-Côte d'Azur,3436084,666729,44706,998439,1726210
94,Corse,220349,56696,2921,60917,99815

<pandas.core.groupby.generic.SeriesGroupBy object at 0x000001AD3FC2A280>